@import '~antd/dist/antd.css';

* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-content {
  width: 100%;
}

header {
    height: 50px;
    background-color: #ffc20e;
    width: 85%;
    position: fixed;
    z-index: 2;
}



.toggle-menu {
  
}

.link {
  text-decoration: none;
  display: block;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  width: 100%;
  
}

Menu MenuItem {
  margin-top: 1px;
}

Menu MenuItem a {
  text-decoration: none;
  color: #201f1e;
  display: block;
  
  font-size: smaller;
  transition: 0.5s;
  width: 100%;
}

Menu MenuItem a:hover {
  background-color: #aaa;
  color: #201f1e;
}



.col {
  padding: 0;
}

.user-name {
  list-style-type: none;
  margin-left: 50%;
}

.user-name .user-name-drop {
  min-width: none;
  display: block;
  transition: 0.5s;
}

.user-name .user-name-drop b {
  margin-right: 10px;
}

.user-name .user-name-drop img {
  border-radius: 50%;
}

.user-name .user-name-drop .status {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 1px solid white;
}

.user-name-dropdown {
  padding-left: 0;
  width: 70%;
  position: absolute;
  display: none;
  background-color: #fff;
}

.user-name-dropdown li{
  width: 100%;
}

.user-name-dropdown li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  color: #201f1e;
  transition: 0.5s;
}

.user-name-dropdown li a span {
  margin-top: 0;
  margin-right: 10px;
}

.user-name-dropdown li a:hover {
  background-color: #f3f2f1;
} 

.user-name-drop:hover .user-name-dropdown {
  display: block;
  width: 20%;
  transition: 0.5s;
}

h2 {
  font-family: 'Roboto';
}

.img-folder {
  background-image: url('https://dev.qlnb.haivanexpress.vn/static/media/folder_with_files.11b3cb6c.svg');
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.link-folder {
  display: block;
  text-decoration: none;
}

.link-folder:hover {
  background-color: #f3f2f1;
}


.table-link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  transition: 0.1s;
}

.table-link:hover {
  color: #000;
}

.special-table {
  list-style-type: none;
  display: flex;
  display: none;
  transition: 0.1s;
}

.special-table li {
  
}

.special-table>li>a {
  display: block;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  padding-bottom: 1px;
  border-radius: 50%;
  border: 1px solid #54b5ff;
}
.special-table>li>a:hover {
  transform: scale(1.2);
}

.table-link:hover .special-table {
  display: inline-flex;
  transition: 0.1s;
}